# Insertion Sorting

#### sorting list in numerical values

In [41]:
list = [83,29,88,92,1,20,11,71,24]

In [42]:
def insertionsort(list):
    for index in range(1,len(list)):
        currentvalue = list[index]
        position =index
        
        while position>0 and list[position-1]> currentvalue:
            list[position]=list[position-1]
            position = position-1
        list[position]=currentvalue
        
insertionsort(list)
print(list)

[1, 11, 20, 24, 29, 71, 83, 88, 92]

In [43]:
list2 = [100,2,67,83,11,90,33,55]
def insertsort(list):
    for index in range(1,len(list)):
        currentvalue = list[index]
        position = index
        
        while position >0 and list[position-1]>currentvalue:
            list[position] = list[position-1]
            position = position-1
        list[position]=currentvalue
insertsort(list2)
print(list2)

[2, 11, 33, 55, 67, 83, 90, 100]

In [44]:
list3 = [5,99,22,11,44,77,88]

def instsort(list):
    for index in range(1,len(list)):
        currentvalue = list[index]
        position = index
        
        while position > 0 and list[position-1] > currentvalue:
            list[position] = list[position-1]
            position = position-1
        list[position]=currentvalue
instsort(list3)
list3

[5, 11, 22, 44, 77, 88, 99]

# Searching

### return boolean if value is in list

In [45]:
print(list3)

[5, 11, 22, 44, 77, 88, 99]

In [46]:
22 in list3

True

In [47]:
100 in list3

False

# Find duplicates in a list

In [48]:
list4 = [1,3,1,9,2,5,6,7,7,8,1,9]

#### Lists all duplicates in a list

In [49]:
def findalldupes(list):
    duplicates = []
    for item in list:
        if list.count(item) >1:
            duplicates.append(item)
    print(duplicates)

In [50]:
findalldupes(list4)

[1, 1, 9, 7, 7, 1, 9]

#### Lists duplicate values in a list

In [51]:
def showdupes(list):
    duplicate_values = []
    for item in list:
        if list.count(item) > 1:
            duplicate_values.append(item)
    print(set(duplicate_values))

In [52]:
showdupes(list4)

{1, 9, 7}

# String ends with sub_String

In [5]:
def string_ending_with(string,sub_string):
    if string[-len(sub_string):] == sub_string:
        ends_with = True
        print(f'{string} ends with {sub_string}, This is {ends_with}!')
    else:
        ends_with = False
        print(f'{string} ends with {sub_string}, This is {ends_with}!')

string_ending_with('New job','job')

New job ends with job, This is True!

In [6]:
string_ending_with(str(199922817), str(817))

199922817 ends with 817, This is True!

# Iterate 2 lists over index with enumerate

### Iterates 2 ordered lists with the same length over index

In [3]:
countries = ['Croatia', 'USA', 'Argentina', 'France', 'Brazil', 'Japan', 'Vietnam', 'Israel','Mexico']
cities = ['Zagreb', 'District of Columbia', 'Buenos Aires', 'Paris', 'Rio de Janeiro', 'Tokyo', 'Hanoi', 'Tel Aviv','Mexico City']

for index, item in enumerate(countries):
    print(index,item,cities[index])

0 Croatia Zagreb
1 USA District of Columbia
2 Argentina Buenos Aires
3 France Paris
4 Brazil Rio de Janeiro
5 Japan Tokyo
6 Vietnam Hanoi
7 Israel Tel Aviv
8 Mexico Mexico City

In [ ]:
import matplotlib

# Capitalize each element in a list

In [ ]:
capitalized_destinations = ['argentina', 'mexico', 'italy', 'finland', 'canada', 'croatia']
# define function here
def capitalize_countries():
    new_list = []
    for country in capitalized_destinations:
        new_list.append(country.capitalize())
    return new_list

# Calculating Mean of values of list of dictionaries (all restaurants) of a given key (eg review_count)

In [7]:
# Yelp restaurant info

frontier_restaurant = {'categories': [{'alias': 'mexican', 'title': 'Mexican'},
  {'alias': 'diners', 'title': 'Diners'},
  {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
 'is_closed': False,
 'name': 'Frontier Restaurant',
 'price': '$',
 'rating': 4.0,
 'review_count': 1369}

fork_fig = {'categories': [{'alias': 'burgers', 'title': 'Burgers'},
  {'alias': 'sandwiches', 'title': 'Sandwiches'},
  {'alias': 'salad', 'title': 'Salad'}],
 'is_closed': False,
 'name': 'Fork & Fig',
 'price': '$$',
 'rating': 4.5,
 'review_count': 604}
 
dennys = {'categories': [{'alias': 'breakfast', 'title': 'Breakfast'},
  {'alias': 'diners', 'title': 'Diners'},
  {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
 'is_closed': False,
 'name': "Denny's",
 'price': '$',
 'rating': 3.0,
 'review_count': 1200}

ihop = {'categories': [{'alias': 'breakfast', 'title': 'Breakfast'},
  {'alias': 'diners', 'title': 'Diners'},
  {'alias': 'tradamerican', 'title': 'American (Traditional)'}],
 'is_closed': False,
 'name': "IHOP: International House of Pancakes",
 'price': '$',
 'rating': 3.45,
 'review_count': 1588}

mcdonalds = {'categories': [{'alias': 'breakfast', 'title': 'Breakfast'},
  {'alias': 'burgers', 'title': 'Burgers'},
  {'alias': 'fast food', 'title': 'Good Food Fast'}],
 'is_closed': False,
 'name': "McDonalds",
 'price': '$',
 'rating': 3.45,
 'review_count': 2455}

pearl_street_oyster_bar = {'categories': [{'alias': 'seafood', 'title': 'Seafood'},
  {'alias': 'gourmet', 'title': 'Gourmet'},
  {'alias': 'Shellfish', 'title': 'Shellfish'}],
 'is_closed': False,
 'name': "Pear Street Oyster Bar",
 'price': '$$$',
 'rating': 4.75,
 'review_count': 350}

restaurant_list = [pearl_street_oyster_bar, mcdonalds, ihop, dennys, fork_fig, frontier_restaurant]

In [8]:
restaurant_review_count = []
def mean_review_count(list_of_restaurants):
    for x in restaurant_list:
        restaurant_review_count.append(x.get('review_count'))
    lenght = len(restaurant_review_count)
    review_count_sum = sum(restaurant_review_count)
    return review_count_sum/lenght

In [9]:
mean_review_count(restaurant_list)

1261.0

# Calculating Median of values of list of dictionaries (all restaurants) a given key (eg review_count)

In [10]:
from numpy import median


def median_review_count(list_of_restaurants):
    restaurant_review_count_sorted = sorted(restaurant_review_count)
    return median(restaurant_review_count)

In [11]:
median_review_count(restaurant_list)

1284.5

# Pandas

## Groupby Aggregations

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('causes_of_death.tsv',delimiter='\t')
df.head()

,Notes,State,State Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Race,Race Code,Deaths,Population,Crude Rate
0,NaN,Alabama,1,< 1 year,1,Female,F,American Indian or Alaska Native,1002-5,14,3579,Unreliable
1,NaN,Alabama,1,< 1 year,1,Female,F,Asian or Pacific Islander,A-PI,24,7443,322.5
2,NaN,Alabama,1,< 1 year,1,Female,F,Black or African American,2054-5,2093,169339,1236.0
3,NaN,Alabama,1,< 1 year,1,Female,F,White,2106-3,2144,347921,616.2
4,NaN,Alabama,1,< 1 year,1,Male,M,Asian or Pacific Islander,A-PI,33,7366,448.0

In [4]:
# Groupby State and Gender and sum the values
df.groupby(['State','Gender']).sum()

                      Notes  State Code  Deaths
State         Gender
Alabama       Female    0.0          40  430133
              Male      0.0          41  430647
Alaska        Female    0.0          80   27199
              Male      0.0          84   36135
Arizona       Female    0.0         180  396028
...                     ...         ...     ...
West Virginia Male      0.0        1674  192560
Wisconsin     Female    0.0        2420  436397
              Male      0.0        2420  421232
Wyoming       Female    0.0        1792   37153
              Male      0.0        1960   40233

[102 rows x 3 columns]

In [5]:
# Groupby State, Gender, and Race and average values
df.groupby(['State','Gender','Race']).mean()

                                                 Notes  State Code  \
State   Gender Race
Alabama Female American Indian or Alaska Native    NaN         1.0
               Asian or Pacific Islander           NaN         1.0
               Black or African American           NaN         1.0
               White                               NaN         1.0
        Male   American Indian or Alaska Native    NaN         1.0
...                                                ...         ...
Wyoming Female White                               NaN        56.0
        Male   American Indian or Alaska Native    NaN        56.0
               Asian or Pacific Islander           NaN        56.0
               Black or African American           NaN        56.0
               White                               NaN        56.0

                                                       Deaths
State   Gender Race
Alabama Female American Indian or Alaska Native     70.875000
               Asian or Pacific Islander            95.500000
               Black or African American          9074.000000
               White                             29890.636364
        Male   American Indian or Alaska Native     86.375000
...                                                       ...
Wyoming Female White                              3279.454545
        Male   American Indian or Alaska Native    103.000000
               Asian or Pacific Islander            15.000000
               Black or African American            28.333333
               White                              3533.909091

[408 rows x 3 columns]

## Pivots